# Secrets
backend/.env
backend/fcm_key.json

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Android
.gradle/
build/
*.iml
.idea/
local.properties
.DS_Store
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aar
*.jks
*.keystore

# Python / Jupyter
__pycache__/
*.py[cod]
*$py.class
training/data/
training/models/
.ipynb_checkpoints
.venv
venv/
env/
.env
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# OS
.DS_Store
Thumbs.db

# Data
data/
*.zip
*.npy
*.csv

# Modèles lourds (garder seulement .tflite)
*.h5
best_model.keras
