rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /alerts/{alert} {
      allow read, write: if request.auth != null && request.auth.uid == resource.data.userId;
    }
    match /users/{userId}/contacts/{contact} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
